@import "../Variables/Var.scss";

h1, a, p, h2{
    color: $whiteColor;
}

.blue__button {
    background-color: $aquaColor;
    padding: 0.7rem 2.5rem;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 2rem;   
    position: relative;
}


.heading {
    display: flex;
    justify-content: space-between;
    &__image {
        background-image: url("../img/img_he.png");
        background-size: cover;
        height: 25vw;
        width: 40%;
        margin: 3rem 0rem;
        padding-bottom: 2rem;
    }
    &__text { 
        max-width: 35vw;
        margin: auto 0;
        position: relative;
        a {
            background-color: $whiteColor;
            color: $aquaColor;
            padding: 0.7rem 3.5rem;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 2rem;   
            position: relative;
            top: 4rem;
            
        };
        h1 {
            font-size: 3rem;
            padding-bottom: 2rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
}
.flexbox1 {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 25vh;
        flex: 2 3 0;
        background-color: rgba(135, 198, 252, .9);
        border: 1px solid #dddddd;
        border-radius: 1rem;
        flex: 1;
        position: relative;
        padding-block: 2rem;
        padding-inline: 2rem;
        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.2rem;
            padding-block: 1rem;
        }
        a {
            font-weight: 600;
        }
    }
}
.flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 2rem;
    &__item {
        min-width: 22%;
        background-color: $whiteColor;
        text-align: center;
        padding: 2rem 4rem;
        border-radius: 1rem;
        h2, p  {
            color: $greyColor;
            
        }
        h2 {
            padding-bottom: 1rem;
        }
        h3 {
            color: $aquaColor;
            padding-block: 1rem;
            font-size: 2rem;
        }
        table {
            align-self: center;
            margin-top: 1rem;
            margin-bottom: 3rem;
            border-collapse: collapse;
        }
        td {
            border: solid $aquaColor 1px;
            max-width: 70%;
            p {
                padding: 0.5rem 1rem
            }
        }
    }
}
